            </div>
                <% include _scripts %>
            </body>

    <footer class="bg-dark text-center footer">
        <div class="row text-light">
            <div class="col-4 col-md">
                <a class="text-muted" href="/"><img src="/img/footer-image.png" width="60" height="60" class="d-inline-block align-center"></a>
                <small class="d-block mt-3 text-muted">© GAPT 2018</small>
            </div>
            <div class="col-4 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="text-muted" href="https://play.google.com/store/apps" target="_blank">Google Play Store</a>
                    </li>
                    <li>
                        <a class="text-muted" href="https://education.gov.mt/en/Pages/educ.aspx" target="_blank">Education Department</a>
                    </li>
                    <li>
                        <a class="text-muted" href="https://www.um.edu.mt" target="_blank">University of Malta</a>
                    </li>
                </ul>
            </div>
            <div class="col-4 col-md">
                <h5>Sitemap</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="text-muted" href="/applications">Browse</a>
                    </li>
                    <li>
                        <a class="text-muted" href="/applications/new">New App</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</html> 