<div class="tab-pane tab-pane-jquery fade" id="pills-general" role="tabpanel" aria-labelledby="pills-general-tab">
    <% applications.forEach(function(application){ %>
    <% if (application.category == "General"){%>
        <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="p-3 box-shadow text-center app-container">
                <img src="<%= application.thumbnail %>" alt="Card image cap" class="app-image">
                <p class="container-title"><%= application.name %></p>
                <p class="text-muted container-category"><%= application.category %></p>
                <a href="/applications/<%= application._id %>" class="more-info"> More Info</a>
            <div class="row">
                <div class="col-md-6 index-rating">
                <label for="rating">Public</label>
                <select class="star-rating-ro public-rating" name="design">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select>
                </div>
                <div class="col-md-6 index-rating">
                <label for="rating">EducApps</label>
                <select class="star-rating-ro public-rating" name="design">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select>
                </div>
                </div>
                </div>
                </div>
                <%}%>
    <% }) %>
</div>