<nav class="navbar-expand-lg navbar navbar-dark bg-transparent">
    <div class="container p-3">
        <a class="navbar-brand" href="/">EDUCAPPS <em>mt</em></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <nav class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white pl-4" href="/applications/new"><i class="fas fa-plus"></i>  New</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white pl-4" href="/applications"><i class="fas fa-tablet-alt"></i>  Apps</a>
                </li>
                <% if(!currentUser){ %>
                    <li class="nav-item">
                        <a class="nav-link text-white pl-4" href="/login" data-toggle="modal" data-target="#ModalLogin"><i class="fas fa-sign-in-alt"></i>  Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white pl-4" href="/register" data-toggle="modal" data-target="#ModalRegister"><i class="fa fa-user-plus"></i>  Signup</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link text-white pl-4" href="profile"><i class="fas fa-user-circle"></i>  <%= currentUser.name.firstName %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ml-4 text-white" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </li>
                <% } %>
            </nav>
        </div>
    </div>
</nav>

<% include _login %>
<% include _register %>