<nav class="navbar-expand-lg navbar navbar-dark bg-transparent">
    <div class="container p-3">
        <a class="navbar-brand" href="/">EDUCAPPS <em>mt</em></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <nav class="navbar-nav ml-auto">
                <% if(!currentUser){ %>
                    <li class="nav-item">
                        <a class="nav-link text-white pl-4" href="/login" data-toggle="modal" data-target="#ModalLogin"><i class="fas fa-sign-in-alt"></i>  Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white pl-4" href="/register" data-toggle="modal" data-target="#ModalRegister"><i class="fa fa-user-plus"></i>  Signup</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link text-white pl-4" href="profile"><i class="fas fa-user-circle"></i>  <%= currentUser.name.firstName %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ml-4 text-white" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </li>
                <% } %>
            </nav>
        </div>
    </div>
</nav>

<!-- Login Modal -->
<div class="modal fade" id="ModalLogin" tabindex="-1" role="dialog" aria-labelledby="ModalLoginTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLongTitle">Login to your Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/login" method="POST" class="login-form">
                    <div class="form-group">
                        <label for="title">Username</label>
                        <input type="text" class="form-control text-muted" name="email" placeholder="eg. johndoe@gmail.com">
                    </div>

                    <div class="form-group">
                        <label for="title">Password</label>
                        <input type="password" class="form-control text-muted" name="password" placeholder="Password">
                    </div>

                    <div class="text-center">
                        <input type="submit" value="Login" class="btn btn-outline-primary">
                    </div>
                </form>
                <hr>
                    <div class="text-center">
                        Don't have an account? <a data-dismiss="modal" href="/register" data-toggle="modal" data-target="#ModalRegister">Register</a>
                    </div>
            </div>
        </div>
    </div>
</div>

<!-- Register Modal -->
<div class="modal fade" id="ModalRegister" tabindex="-1" role="dialog" aria-labelledby="ModalRegisterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLongTitle">Register an Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/register" method="POST" class="register-form">
                    <div class="form-row form-group">
                        <div class="col">
                            <label for="title">First Name</label>
                            <input type="text" name="firstname" class="form-control text-muted" placeholder="eg. John">
                        </div>
                        <div class="col">
                            <label for="title">Surname</label>
                            <input type="text" name="lastname" class="form-control text-muted" placeholder="eg. Doe">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="title">E-mail</label>
                        <input type="text" class="form-control text-muted" name="email" placeholder="eg. johndoe@um.edu.mt">
                    </div>

                    <div class="form-group">
                        <label for="title">Password</label>
                        <input id="password" type="password" class="form-control" placeholder="Minimum 6 characters. At least 1 digit & 1 letter" name="password">
                    </div>

                    <div class="form-group">
                        <label for="title">Re-enter Password</label>
                        <input type="password" class="form-control" placeholder="Must match previous password." name="password2">
                    </div>

                    <div>
                        <label for="checkbox">I'm Registering as a</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="role" id="teacher" value="1" checked>
                                <label class="form-check-label" for="Teacher">
                                    Teacher
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="role" id="parent" value="2">
                                <label class="form-check-label" for="Parent">
                                    Parent
                                </label>
                            </div>
                    </div>

                    <hr>

                    <div class="form-group text-center">
                        <input type="submit" value="Register" class="btn btn-outline-primary">
                    </div>
                </form>

                    <hr>
                    <div class="text-center">
                        Already have an account? <a data-dismiss="modal" href="/login" data-toggle="modal" data-target="#ModalLogin">Login</a>
                    </div>
            </div>
        </div>
    </div>
</div>
