<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"/>
        <link rel="manifest" href="/favicon/site.webmanifest">

        <title>EducApps MT</title>
    </head>
    <body>
        <nav class="navbar-expand-lg navbar navbar-light bg-light">
            <div class="container p-2">
                <a class="navbar-brand" href="/">EducApps MT</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <nav class="navbar-nav ml-auto">
                        <a class="nav-link pl-5" href="#">Login</a>
                        <a class="nav-link pl-5" href="#">Signup</a>
                        <a class="nav-link pl-5" href="#">Logout</a>
                    </nav>
                </div>
            </div>
        </nav>
