<% include partials/header %>

        <div class="container text-white" id="header--landing">
            <div class="row">
                <div class="col-6 col-md">
                    <h1 class="header--primary">Your Guide to <br> Educational Apps.</h1>
                    <p class="lead" id="header-lead">App reviews by parents and teachers,<br>helping you find the best for your students.</p>
                    <div class="pt-4">
                        <a class="btn btn-lg btn-outline-light mr-4 mt-2" href="">Browse Apps</a>
                        <a class="btn btn-lg btn-outline-warning mt-2" href="">Submit Review</a>
                    </div>
                </div>
                <div class="col-6 col-md">
                    <img class="img-fluid" src="/img/landingTestImage.png" width="350" alt="">
                </div>
            </div>
        </div>

        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html> 
