<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">

        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"/>
        <link rel="manifest" href="/favicon/site.webmanifest">

        <title>EducApps MT</title>
    </head>
    <body>
        <% include partials/navbar %>

        <div class="container">

            <div class="container text-white" id="header--landing">
                <div class="row">
                    <div class="col-6 col-md">
                        <h1 class="header--primary">Your Guide to<br> Educational Apps.</h1>
                        <p class="lead" id="header-lead">App reviews by parents and teachers,<br>helping you find the best for your students.</p>
                        <div class="pt-4">
                            <a class="btn btn-lg btn-outline-light mr-4 mt-2" href="/applications">Browse Apps</a>
                            <a class="btn btn-lg btn-outline-warning mt-2" href="/applications/new">Submit New Application</a>
                        </div>
                    </div>
                    <div class="col-6 col-md">
                        <img class="img-fluid" src="/img/landingTestImage.png" width="400" alt="">
                    </div>
                </div>
            </div>

            </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
        <script type="text/javascript" src="/scripts/validation.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    </body>
</html> 
