<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">

        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"/>
        <link rel="manifest" href="/favicon/site.webmanifest">

        <title>EducApps MT</title>
    </head>
    <body>
        <nav class="navbar-expand-lg navbar navbar-transparent navbar-dark">
            <div class="container p-2">
                <a class="navbar-brand" href="#">EducApps MT</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <div class="animated-icon1"><span></span><span></span><span></span></div></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <nav class="navbar-nav ml-auto">
                        <a class="nav-link pl-5" href="/login">Login</a>
                        <a class="nav-link pl-5" href="/register">Signup</a>
                        <a class="nav-link pl-5" href="/logout">Logout</a>
                    </nav>
                </div>
            </div>
        </nav>
        <div class="container">

        <div class="container text-white" id="header--landing">
            <div class="row">
                <div class="col-6 col-md">
                    <h1 class="header--primary">Your Guide to <br> Educational Apps.</h1>
                    <p class="lead" id="header-lead">App reviews by parents and teachers,<br>helping you find the best for your students.</p>
                    <div class="pt-4">
                        <a class="btn btn-lg btn-outline-light mr-4 mt-2" href="/applications">Browse Apps</a>
                        <a class="btn btn-lg btn-outline-warning mt-2" href="">Submit Review</a>
                    </div>
                </div>
                <div class="col-6 col-md">
                    <img class="img-fluid" src="/img/landingTestImage.png" width="400" alt="">
                </div>
            </div>
        </div>

        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html> 
