*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

.footer {
    position: relative;
    font-size: 0.8rem;
    right: 0;
    bottom: 0;
    left: 0;
}