*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-color: #F8F9FA;
}

.navbar-nav .nav-link:hover {
    color: #FFE566 !important;
    transition: all .2s ease-in;
}

.footer {
    position: relative;
    padding: 5rem;
    margin-top: 5rem;
    font-size: 0.8rem;
    right: 0;
    bottom: 0;
    left: 0;
}

.page-header {
    color: white;
    margin-top: -100px;
    height: 400px;
    background: #00d2ff;
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
}

.page-login {
    color: white;
    margin-top: -100px;
    height: 30vh;
    background: #00d2ff;
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
}

.page-login h1 {
    padding-top: 12%;
}

div .jumbotron {
    padding-top: 15%;
}

.jumbotron-heading a {
    color: #FFCC46;
    text-decoration: none;
}

.lead a {
    color: #FFCC46;
    text-decoration: none;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

div #error {
    display: none;
}

div #success {
    display: none;
}

.app-container {
    height: 23rem;
    width: 20rem;
    margin-bottom: 1rem;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: #fff;
    border-radius: 5%;
    display: inline-block;
    padding: 2rem;
    float: none;
}

.app-container:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.app-container .container-title {
    font-weight: 600;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.app-container .container-category {
    font-size: 0.8rem;
    margin-bottom: 0px;
}

.app-container .index-rating {
    font-size: 0.8rem;
    bottom: -1rem;
}

.app-container .more-info {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 0.9rem;
}

.app-container .app-image {
    border-radius: 50%;
    width: 8rem;
}

.no-apps {
    display: none;
}

#filterApps {
    border-radius: 20px;
}

.app-show {
    padding: 3rem;
    background-color: #fff;
}

.app-show h3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.app-show p {
    font-size: 0.9rem;
    padding-top: 2rem;
}

.app-show a {
    text-decoration: none;
}

.delete-form {
    padding-top: 2rem;
}

.delete-form a {
    margin-right: 1rem;
}

.review-show {
    padding: 2rem;
    background-color: #fff;
    margin-top: 1rem;
}

.review-show .submitted {
    font-size: 0.8rem;
}

.write-review-btn {
    border-radius: 20px;
    margin-top: 3rem;
    width: 15rem;
}

.review-delete {
    margin-left: 1rem;
}