<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome</h1>
            <p>Browse reviewed educational apps from teachers or parents.</p>
        </div>
    </header>

    <div class="row">
        <div class="col-lg-12">
            <h3>Reviewed Apps</h3>
        </div>
            <% applications.forEach(function(application){ %>
            <div class="col-md-3 col-sm-6">

                <div class="card">
                    <img class="card-img-top" src="<%= application.thumbnail %>" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-title"><%= application.name %></p>
                        <p class="card-text">
                            <a href="/applications/<%= application._id %>" class="btn btn-outline-primary btn-sm">More Info</a>
                        </p>
                    </div>
                </div>

            </div>
            <% }) %>
    </div>
</div>

<% include ../partials/footer %>