<% include ../partials/_header %>
<% include ../partials/_navbar %>

<div class="page-header">
    <div class="container">
        <div class="jumbotron text-center bg-transparent">
            <h1 class="jumbotron-heading">Apps for Education</h1>
            <p class="lead">Reviewed educational apps from teachers or parents.</p>
            <a class="btn btn-lg btn-outline-warning mt-2" href="/applications/new">Submit New Application</a>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">

        <% include ../partials/_alerts %>

        <div class="col-lg-12 text-muted">
            <hr>
            <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-all-tab" onclick="filterApps(this)" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-general-tab" onclick="filterApps(this)" data-toggle="pill" href="#pills-general" role="tab" aria-controls="pills-general" aria-selected="false">General</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-maths-tab" onclick="filterApps(this)" data-toggle="pill" href="#pills-maths" role="tab" aria-controls="pills-maths" aria-selected="false">Maths</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-english-tab" onclick="filterApps(this)" data-toggle="pill" href="#pills-english" role="tab" aria-controls="pills-english" aria-selected="false">English</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-maltese-tab" onclick="filterApps(this)" data-toggle="pill" href="#pills-maltese" role="tab" aria-controls="pills-maltese" aria-selected="false">Maltese</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-religion-tab" onclick="filterApps(this)" data-toggle="pill" href="#pills-religion" role="tab" aria-controls="pills-religion" aria-selected="false">Religion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-socialstudies-tab" onclick="filterApps(this)" data-toggle="pill" href="#pills-socialstudies" role="tab" aria-controls="pills-socialstudies" aria-selected="false">Social Studies</a>
                </li>
            </ul>
            <hr>

                <div class="mt-5 row justify-content-center" id="apps">
                    <% applications.forEach(function(application){ %>
                    <div class="box-shadow text-center app-container">
                        <img src="<%= application.thumbnail %>" alt="Card image cap" class="app-image">
                        <p class="container-title"><%= application.name %></p>
                        <p class="text-muted container-category"><%= application.category %></p>
                        <a href="/applications/<%= application._id %>" class="more-info"> More Info</a>
                        <div class="row">
                            <div class="col-md-6 index-rating">
                                <label for="rating">Public</label>
                                <select class="star-rating-ro public-rating" name="design">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="col-md-6 index-rating">
                                <label for="rating">EducApps</label>
                                <select class="star-rating-ro public-rating" name="design">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
        </div>
    </div>
</div>

<% include ../partials/_footer %>