<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome</h1>
            <p>Browse reviewed educational apps from teachers or parents.</p>
        </div>
    </header>

<% include ../partials/footer %>