<% include ../partials/header %>

<div class="container">
    <div class="py-5 text-center">
        <h1>Submit a New App</h1>
        <p class="lead">Open the <a href="https://play.google.com/store/apps">Google Play Store</a>, find your app and paste the link of the app below.</p>
    </div>

    <div class="py-2">
        <div class="row justify-content-md-center text-center">
            <form action="/applications" method="post">
                <div class="form-group py-2">
                    <label>App URL</label>
                    <input type="text" class="form-control" name="appUrl" placeholder="App URL">
                    <small class="form-text text-muted">Make sure you pasted the correct URL.</small>
                </div>
                <button type="submit" class="btn btn-primary">Review App!</button>
            </form>
        </div>
    </div>

    <div class="py-5 text-center">
        <a href="/applications">Go Back</a>
    </div>

<% include ../partials/footer %>