<% include ../partials/_header %>
<% include ../partials/_navbar %>

<div class="page-header">
    <div class="container">
        <div class="jumbotron text-center bg-transparent">
            <h1 class="jumbotron-heading">Submit a New App</h1>
            <p class="lead">Open the <a href="https://play.google.com/store/apps">Google Play Store</a>, find your app and paste the link of the app below.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="py-2">
        <div class="row justify-content-md-center text-center">

            <% include ../partials/_alerts %>

            <form action="/applications" method="post" class="app-new">
                <div class="form-group py-2">
                    <label>App URL</label>
                    <input type="text" class="form-control" name="appUrl" placeholder="App URL">
                    <small class="form-text text-muted">Make sure you pasted the correct URL.</small>
                </div>

                <div class="form-group py-2">
                    <select class="form-control" name="category">
                        <option value="General">General</option>
                        <option value="Maths">Maths</option>
                        <option value="English">English</option>
                        <option value="Maltese">Maltese</option>
                        <option value="Religion">Religion</option>
                        <option value="Social Studies">Social Studies</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit App!</button>
            </form>
        </div>
    </div>

    <div class="py-5 text-center">
        <a href="/applications">Go Back</a>
    </div>
</div>
<% include ../partials/_footer %>