<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">EducApps MT</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <h4><a><%= application.url %></a></h4>

            <a class="btn btn-warning" href="/applications/<%= application._id %>/edit">Edit</a>
            
            <form class="delete-form" action="/applications/<%= application._id %>?_method=DELETE" method="post">
                <button class="btn btn-danger">Delete</button>
            </form>

            <!-- COMMENT SECTION START --> 
            <div class="card bg-light mb-3">
                <div class="text-right">
                    <a class="btn btn-success" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample" href="#collapseComment" role="button">
                        Add new comment
                    </a>
                </div>
                <!--Comment section title-->
                <h4 class="card-title">Reviews</h4>
                <hr>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>